* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: hsl(225, 100%, 94%);
    min-height: 100vh;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Red Hat Display', sans-serif;
    color: hsl(223, 47%, 23%);
}

/* the media queries below change the background image depending on whether the user is in landscape or portrait. */
@media (orientation: landscape) {
    body {
        background: top/contain url("images/pattern-background-desktop.svg") no-repeat hsl(225, 100%, 94%);
    }
}

@media (orientation: portrait) {
    body {
        background: top/contain url("images/pattern-background-mobile.svg") no-repeat hsl(225, 100%, 94%);
    }
}

#main-container {
    background: white;
    border-radius: 1.25rem;
    overflow: hidden;
    /*grid-area: first-boundary / first-boundary / last-boundary / last-boundary;
    max-height: 100%;*/
    max-width: 27em;
    box-shadow: 0 2em 2em hsl(224, 23%, 55%, 20%);
}
#main-container > img {
    width: 100%;
}

#main-content {
    padding: 2.5em;
    text-align: center;
}

#cancel-order {
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    text-decoration: none;
}

#cancel-order:hover {
    color:hsl(223, 47%, 23%);
    cursor: pointer;
}

h1 {
    font-size: 1.8rem;
    font-weight: 900;
    padding-bottom: .5em;
}

p {
    color: hsl(224, 23%, 55%);
    line-height: 1.5;
}

/* "Annual Plan box */
#plan-box {
    background-color: hsl(225, 100%, 98%);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 1.2em;
    width: 100%;
    padding: 1.3em 1.2em;
    margin: 1em 0 2em;
    border-radius: .75rem;
}

#plan-box > a {
    color:hsl(245, 75%, 52%);
    font-weight: 700;
    align-self: center;
}
#plan-box > a:hover {
    color:hsl(245, 83%, 68%);
    text-decoration: none;
    font-weight: 700;
}

#plan-box > div {
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    font-size: 1rem;
    font-weight: 900;
}

/* "Proceed to Payment" button */
button {
    background-color: hsl(245, 75%, 52%);
    color: white;
    border-radius: .75em;
    border: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 1rem;
    display: inline-block;
    box-shadow: 0 .7em 1.3em hsl(245, 75%, 52%, 30%);
    padding: 1em 0;
    margin-bottom: 2em;
    width: 100%;
    transition: 100ms all ease-in-out;
}
button:hover,
button:focus {
    background-color: hsl(245, 83%, 68%);
    cursor: pointer;
}

.attribution { 
    font-size: .75rem; 
    text-align: center; 
    grid-area: footer / first-boundary / end / last-boundary;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}