* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: hsl(225, 100%, 94%);
    height: 100vh;
    display: grid;
    grid-template-columns: [start] 6% [first-boundary] auto [last-boundary] 6% [end];
    grid-template-rows: [start] 10% [first-boundary] auto [last-boundary] 10% [footer] min-content [end];
    justify-items: center;
    align-items: center;
    font-family: 'Red Hat Display', sans-serif;
    color: hsl(223, 47%, 23%);
}

/* the media queries below change the background image depending on whether the user is in landscape or portrait. */
@media (orientation: landscape) {
    body {
        background: top/contain url("images/pattern-background-desktop.svg") no-repeat hsl(225, 100%, 94%);
    }
}

@media (orientation: portrait) {
    body {
        background: top/contain url("images/pattern-background-mobile.svg") no-repeat hsl(225, 100%, 94%);
    }
}

#main-container {
    background: white;
    border-radius: 1.25rem;
    overflow: hidden;
    grid-area: first-boundary / first-boundary / last-boundary / last-boundary;
    max-height: 100%;
    aspect-ratio: 2 / 3; /* width / height */
}

#illustration {
    height: 30%;
    background: center/cover url("images/illustration-hero.svg") no-repeat hsl(245, 75%, 52%);
}

#main-wrapper {
    height: 70%; /* 100% - the #illustration height */
}

#main-flex {
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#plan-flex {
    background-color: hsl(225, 100%, 98%);
    display: flex;
    justify-content: space-around;
    max-width: 20rem;
    border-radius: .75rem;
}

#cancel-order {
    font-weight: 700;
}

#cancel-order:hover {
    color:hsl(223, 47%, 23%);
    cursor: pointer;
}

h1 {
    font-size: 1.7rem;
    font-weight: 900;
}

p {
    color: hsl(224, 23%, 55%);
}

button {
    background-color: hsl(245, 75%, 52%);
    color: white;
    border-radius: .75em;
    border: none;
    font-family: inherit;
    font-weight: 700;
    font-size: 1rem;
    display: inline-block;
    box-shadow: 0 .7em 1.3em hsl(245, 75%, 52%, 30%);
    padding: 1em 0.75em;
    width: 23em;
    transition: 100ms all ease-in-out;
}

button:hover {
    background-color: hsl(245, 83%, 68%);
    cursor: pointer;
}

.attribution { 
    font-size: .75rem; 
    text-align: center; 
    grid-area: footer / first-boundary / end / last-boundary;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}